services:
  new-service: # <-- EDIT ME
    # image: XYZ:${SERVICE_VERSION} # ! FILL IMAGE NAME OR BUILD
    container_name: ${CONTAINER_NAME}
    restart: unless-stopped
    user: ${UID}:${GID}
    security_opt:
      - no-new-privileges:true
    read_only: true
    cap_drop:
      - ALL

    environment:
      # ...
      TZ: ${TZ}

    # volumes:
    #   - .docker/data:/ ...

    networks:
      # - service-net
      # - socket-proxy-net
      - traefik-net
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.${CONTAINER_NAME}-https.rule=Host(`${TRAEFIK_HOST}`)"
      - "traefik.http.routers.${CONTAINER_NAME}-https.entrypoints=websecure"
      - "traefik.http.services.${CONTAINER_NAME}.loadbalancer.server.port=${TRAEFIK_PORT}"

networks:
  # service-net: # specific network name for this service
  #   name: ${SERVICE_NET}
  # socket-proxy-net:
  #   external: true
  #   name: ${SOCKET_PROXY_NET}
  traefik-net: # public traefik network
    external: true
    name: ${TRAEFIK_NET}
